/* unemployment */
.unemployment {
  padding: 90px 0 20px;
}

.unemployment__main {
  width: 100%;
  margin-bottom: 20px;
}
.unemployment__wrapper-img {
  position: relative;
}
.unemployment__img {
  margin-bottom: 20px;
}
.unemployment__category {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: inline-block;
  background: #d72e29;
  color: #fff;
  padding: 7px 9px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
}
.unemployment__title {
  margin-bottom: 10px;

  @include rm(1024) {
    text-align: left;
    font-size: 26px;
  }
  @include rm(1220) {
    font-size: 26px;
  }
}

.unemployment__post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: gray;

  margin-bottom: 10px;
}

.unemployment__post-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.unemployment__post-item::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url(../img/calendar-g.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  line-height: 22px;
}
.unemployment__post-item:nth-child(2)::before {
  background-image: url(../img/comments-g.png);
}
.unemployment__post-item:nth-child(3)::before {
  background-image: url(../img/views-g.png);
}
.unemployment__text {
  margin-bottom: 20px;
}

.unemployment__text:last-child {
  margin-bottom: 0;
}

.unemployment__text--italic {
  font-style: italic;
  font-weight: 300;
}




.sidebar__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #dadada;
}

.sidebar__tab {
  color: #000;
  width: 150px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.active__tab {
  color: #FF120D;
  border-bottom: 3px solid #FF120D;
}

.sidebar__link {
  color: #000;
}

.sidebar__link:hover {
  color: #FF120D;
}

.sidebar__list .latest-item,
.sidebar__list .latest-item__title{
  width: 100%;
  max-width: 100%;
}

.sidebar__list .latest-item:nth-child(5) {
  margin-bottom: 15px;
}


.news {
  display: flex;
  margin-bottom: 15px;
}

.news__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}

.news__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news__subwrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.news__img {
  min-width: 80px;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.news__img img {
  border-radius: 6px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.news__date, .news__comment, .news__views {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 11px;
  margin-right: 10px;
  color: #b4b4b4;
}

.news__date::before, .news__comment::before, .news__views::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 5px;
}

.news__comment::before {
  background-image: url(../img/comments.png);
}

.news__views::before {
  background-image: url(../img/views.png);
}

.news__views {
  margin-right: 0;
}

@media screen and (min-width: 320px) {
  .sidebar__head {
    flex-direction: column;
    align-items: center;
  }
  .sidebar__tab {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 480px) {
  .unemployment__title,
  .unemployment__post {
    margin-bottom: 20px;
  }

  .text {
    font-size: 16px;
    line-height: 1.3;
  }

  .unemployment__post {
    justify-content: flex-start;
  }
  .unemployment__post-item:first-child {
    margin-left: 0;
  }
  .sidebar__head {
    flex-direction: row;
  }
  .sidebar__tab {
    margin-bottom: 0;
  }

}

@media screen and (min-width: 768px) {

  .text {
    font-size: 18px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {

  .text {
    font-size: 18px;
  }
  .bg {
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
  }

  .webp .bg {
    background-image: url(../img/block-bg.webp)
  }

  .bg,
  .no-webp .bg {
    background-image: url(../img/block-bg.jpg)
  }

  .unemployment__wrapper {
    display: flex;
    justify-content: center;

    @include rm(1220){
      justify-content: flex-start;
    }
  }
  .unemployment__main {
    margin: 0 30px 0 0;
  }
}

.sidebar {
  width: 100%;
  max-width: 100%;

  @include rm(1024){
    max-width: 395px;
  }

  @include rm(1220){
    max-width: 450px;
  }
}


.item-template-1-share-panel-container {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #00f;
  cursor: pointer;
  line-height: 1;
}

.item-template-1-share-panel {

  display: none;

  @include rm(1024){
    display: block;
    margin-right: 25px;
  }

  @include rm(1220){
    margin-right: 45px;
    position: sticky;
    top: 100px;
  }


}

//
//.item-template-1-share-panel-content {
//  margin-top: 20px;
//}

.item-template-1-share-panel-container--twitter {
  background-color: #55acee;
}

.item-template-1-share-panel-container--whatsapp {
  background-color: #25d366;
}

.item-template-1-share-panel-container--telegram {
  background-color: #64a9dc;
}

.item-template-1-share-panel-container--facebook {
  background-color: #3b5998;
}

.item-template-1-share-panel-container--more {
  background-color: #e8e8e8;
}

.unemployment__block {
  @include rm(1220){
    max-width: 600px;
    width: 100%;
  }
}

.unemployment__social {

  @include rm(1024){
    position: relative;
    width: 50px;
    flex-shrink: 0;
    max-width: 100%;
  }

  @include rm(1220){
    width: 60px;
  }
}

.sticky {
  @include rm(1024) {
    position: fixed;
    top: 100px;
  }
}

.sidebar__wrapper {
  @include rm(1024){
    position: fixed;
    max-width: 395px;
    width: 100%;
  }
  @include rm(1220) {
    max-width: 450px;

  }
}

.unemployment__title-list {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 700;

}
.unemployment__list {
  padding-left: 23px;
  margin-top: 0;
  margin-bottom: 20px;
}
.unemployment__item:not(:last-of-type) {
  margin-bottom: 15px;
}