@charset "UTF-8";

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

.slick-slide img,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  overflow-x: hidden
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

br {
  line-height: 1;
  font-size: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

button,
button:focus,
input,
input:focus {
  outline: 0
}

a {
  text-decoration: none
}

button {
  border: 0;
  display: block;
  padding: 0
}

::-moz-focus-inner,
::-moz-focus-outer {
  border: 0;
  padding: 0
}

:active,
:focus,
:hover,
:visited {
  outline: 0 !important
}

::-ms-clear {
  display: none
}

* {
  -webkit-tap-highlight-color: transparent
}

#comebacker_main_div {
  display: none !important;
  height: 0 !important
}

html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden
}

a:-moz-focusring,
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  outline: 0 !important
}

::-moz-focus-inner {
  border: 0;
  outline: 0
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  border: 0
}

:not(#fake) {
  outline: 0
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-v20-cyrillic-regular-webfont.woff2) format("woff2"), url(../fonts/roboto-v20-cyrillic-regular-webfont.woff) format("woff")
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/roboto-v20-cyrillic-700-webfont.woff2) format("woff2"), url(../fonts/roboto-v20-cyrillic-700-webfont.woff) format("woff")
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/roboto-v20-cyrillic-900-webfont.woff2) format("woff2"), url(../fonts/roboto-v20-cyrillic-900-webfont.woff) format("woff")
}

img {
  display: block;
  max-width: 100%;
  height: auto
}

svg {
  overflow: hidden
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px
}

.title {
  font-size: 22px;
  color: #342c24;
  font-weight: 800;
  line-height: 1.2;
  /* text-align: center */
}
.text-bold {
  font-weight: 700
}

.text-black {
  font-weight: 900
}

.text-red {
  color: red
}

.text-nowrap {
  white-space: nowrap
}

.blue {
  color: #264999
}

.btn,
.btn--big,
.btn--small {
  border-radius: 50px;
  font-weight: 700
}

.btn {
  position: relative;
  width: 100%;
  max-width: 225px;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  background-color: #ff4800;
  border: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 10px 20px;
  margin: 0 auto
}

.btn:hover {
  background: #c53b05
}

.btn--big,
.btn--small {
  border-bottom: 2px solid #d53f03;
  padding: 10px;
  font-size: 18px
}

.btn--big {
  border-bottom: 5px solid #e36622;
  font-size: 27px;
  line-height: 23px;
  padding: 11px
}

.btn--big span {
  font-size: 20px;
  display: block;
  font-weight: 500;
  line-height: 19px
}

.line {
  position: relative
}

.prod-color {
  color: #ffb400
}

.bg {
  background-color: #fbf7f3
}

.slick-list,
.slick-slider {
  position: relative;
  display: block
}

.slick-slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-dots li button:focus,
.slick-dots li button:hover,
.slick-list:focus {
  outline: 0
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

.slick-loading .slick-list {
  background: #fff
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before,
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: .25
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-prev {
  left: -25px
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto
}

.slick-prev:before {
  content: '←'
}

.slick-next:before,
[dir=rtl] .slick-prev:before {
  content: '→'
}

.slick-next {
  right: -25px
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px
}

[dir=rtl] .slick-next:before {
  content: '←'
}

.slick-dots,
.slick-dots li button:before {
  position: absolute;
  left: 0;
  text-align: center
}

.slick-dots {
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  top: 0;
  width: 20px;
  height: 20px;
  content: "";
  opacity: .25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000
}

.slick-slide {
  outline: 0
}

.block {
  padding-top: 25px;
  padding-bottom: 25px
}

.header,
.header-logo__link,
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.header {
  width: 100%;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 7px #8a8a8a;
  box-shadow: 0 2px 7px #8a8a8a;
  font-weight: 700;
  position: fixed;
  top: 0;
  z-index: 10
}

.header-logo__link,
.header-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0
}

.header-logo__link {
  cursor: pointer
}

.navbar-logo {
  height: 34px;
  width: 100%;
  max-width: 244px
}

.header-btn {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 52;
  background-image: url(../img/burger.png)
}

.header-actions,
.header-actions__button {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.header-actions {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  padding-top: 60px;
  padding-left: 34px;
  padding-bottom: 10px;
  z-index: 50
}

.header-actions__button {
  color: #000;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  padding: 0 0 0 17px;
  min-height: 25px;
  background-color: #fff
}

.header-actions__button--active {
  position: relative;
  color: #ff120d
}

.header-actions__button--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #ff120d;
  z-index: 56
}

.header-btn.opened {
  background-image: url(../img/close.png)
}

.header-actions.opened {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  background-color: #fff
}

.header-actions:after {
  content: "";
  margin-top: 40px;
  width: 1px;
  height: calc(100% - 40px);
  position: absolute;
  top: 0;
  left: 34px;
  background-color: #dadada;
  z-index: 54
}
/* unemployment */
.unemployment {
  padding: 90px 0 20px;
}
.unemployment__main {
  width: 100%;
  margin-bottom: 20px;
}
.unemployment__img {
  margin-bottom: 20px;
}
.unemployment__title {
  margin-bottom: 10px;
}
.unemployment__post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  line-height: 1.3;

  margin-bottom: 10px;
}
.unemployment__post-item {
  margin: 0 10px;
}
.unemployment__text {
  margin-bottom: 20px;
}
.unemployment__text:last-child {
  margin-bottom: 0;
}
.unemployment__text--italic {
  font-style: italic;
}
.sidebar__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #dadada;
}
.sidebar__tab {
  width: 150px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.active__tab {
  color: #FF120D;
  border-bottom: 3px solid #FF120D;
}

.sidebar__link {
  color: #000;
}
.sidebar__link:hover {
  color: #FF120D;
}
.news {
  display: flex;
  margin-bottom: 15px;
}

.news__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

.news__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news__subwrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.news__img {
  min-width: 80px;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.news__img img {
  border-radius: 6px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.news__date, .news__comment, .news__views {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 11px;
  margin-right: 10px;
  color: #b4b4b4;
}

.news__date::before, .news__comment::before, .news__views::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 5px;
}

.news__comment::before {
  background-image: url(../img/comments.png);
}

.news__views::before {
  background-image: url(../img/views.png);
}

.news__views {
  margin-right: 0;
}
@media screen and (min-width:320px) {
  .sidebar__head {
    flex-direction: column;
    align-items: center;
  }
  .sidebar__tab {
    margin-bottom: 15px;
  }
}
@media screen and (min-width:480px) {
  .unemployment__title,
  .unemployment__post {
    margin-bottom: 20px;
  }
  .container {
    width: 480px
  }

  .title {
    font-size: 30px;
  }
  .text {
    font-size: 16px;
    line-height: 1.3;
  }
  .block {
    padding-top: 30px;
    padding-bottom: 30px
  }
  .unemployment__post {
    justify-content: flex-start;
  }
  .unemployment__post-item:first-child {
    margin-left: 0;
  }
  .sidebar__head {
    flex-direction: row;
  }
  .sidebar__tab {
    margin-bottom: 0;
  }

}

@media screen and (min-width:640px) {
  .container {
    width: 640px
  }

  .title {
    font-size: 34px;
  }
}

@media screen and (min-width:768px) {
  .container {
    width: 768px;
    padding-left: 25px;
    padding-right: 25px
  }

  /* .title {
      font-size: 38px
  } */
  .text {
    font-size: 18px;
    text-align: justify;
  }
  .block {
    padding-top: 40px;
    padding-bottom: 40px
  }
}

@media screen and (min-width:1024px) {
  .container {
    width: 1024px
  }

  /* .title {
      font-size: 40px
  } */
  .text {
    font-size: 20px;
  }
  .bg {
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
  }

  .webp .bg {
    background-image: url(../img/block-bg.webp)
  }

  .bg,
  .no-webp .bg {
    background-image: url(../img/block-bg.jpg)
  }

  .header-actions__button--active:after,
  .header-btn {
    display: none
  }

  .header-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    padding-top: 0;
    padding-left: 15px
  }

  .header-actions__button {
    width: auto;
    padding-left: 10px
  }
  .unemployment__wrapper {
    display: flex;
    justify-content: center;
  }
  .unemployment__main {
    margin: 0 30px 0 0;
  }
}

@media screen and (min-width:1220px) {
  .container {
    width: 1220px
  }

  /* .title {
      font-size: 48px;
      line-height: 1.05
  } */

  .block {
    padding-top: 90px;
    padding-bottom: 90px
  }
  .sidebar {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width:1024px) and (max-width:1219px) {
  .block {
    padding-top: 60px;
    padding-bottom: 60px
  }
}