.header {
  width: 100%;

  background: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 7px #8a8a8a;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-wrapper {
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 20px 15px 20px;

  @include rm(1024) {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.header-logo__link {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: rgba(210,0,0,.1);
  }


  @include rm(1024){
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
  }


  @include rm(1220){
    padding-top: 9px;
    padding-bottom: 9px;
  }

}

.navbar-logo {
  width: 100%;
  max-width: 145px;

  @include rm(1024){
    max-width: 175px;
  }
}

.header-btn {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 52;
  background-image: url(../img/burger.png);

  @include rm(1024) {
    display: none;
  }
}


.header-actions {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  transform: translateY(-120%);
  opacity: 0;
  transition: 0.4s;
  padding-top: 60px;
  padding-left: 34px;
  padding-bottom: 20px;
  z-index: 50;

  @include rm(1024) {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    position: static;
    transform: translateY(0);
    opacity: 1;

    padding-top: 0;
    padding-bottom: 0;


  }
}

.header-actions__button {
  align-items: flex-end;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  text-decoration: none;
  padding: 0;
  padding-left: 17px;
  width: 100%;
  //height: 25px;
  min-height: 25px;
  //margin-bottom: 8px;
  background-color: #fff;

  &:hover {
      background: rgba(210, 0, 0, 0.1);
  }

  @include rm(1024) {
    width: auto;
    padding-left: 10px;
    font-size: 16px;


    //padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 17px;
  }
  @include rm(1220){
    font-size: 18px;
    padding-bottom: 25px;
  }
}

.header-actions__button--active {
  position: relative;
  color: #FF120D;


  @include rm(1024){
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #FF120D;
    }
  }
}

.header-actions__button--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #FF120D;
  z-index: 56;

  @include rm(1024) {
    display: none;
  }
}


.header-btn.opened {
  background-image: url(../img/close.png);
}


.header-actions.opened {
  transform: translateY(0%);
  opacity: 1;
  box-shadow: 0 2px 7px #8a8a8a;
  background-color: #fff;
}

.header-actions:after {
  content: "";
  margin-top: 40px;
  width: 1px;
  height: calc(100% - 55px);
  position: absolute;
  top: 0;
  left: 34px;
  background-color: #dadada;
  z-index: 54;

  @include rm(1024) {
    display: none;
  }
}