.reading {
    padding: 40px 0;
    &__head {
        display: flex;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__link {
        margin-right: 40px;
    }
    &__link:last-of-type {
        margin-right: 0;
    }
    &__item {
        display: flex;
        flex-direction: column; 
        justify-content: flex-end;
        position: relative;
        width: 100%;
        height: 340px;
        max-width: 375px;
        padding: 10px;
        overflow: hidden;
        border-radius: 6px;

        &:not(:last-of-type) {
            margin-bottom: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: 2;
            height: 50%;
            left: 0;
            bottom: 0;
            width: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 34.86%, rgba(0, 0, 0, 0.724418) 100%);
            transition: background-color .3s;
            cursor: pointer;
          }
    }
    &__item:hover .reading__img {
        transform: scale(1.1);
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        transition: -webkit-transform 1s;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .item {
        &__category {
            position: absolute;
            top: 10px;
            left: 10px;
            background: #ffc824;
            color: #000;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            padding: 7px 10px;
            border-radius: 4px;
            z-index: 2;
        }
        &__title {
            color: #fff;
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 15px;
            z-index: 2;
        }
        &__wrapper {
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
            z-index: 2;
            font-size: 14px;
            .news__date, .news__comment, .news__views {
                font-weight: 700;
            }
            .news__date::before , .news__comment::before , .news__views::before  {
                width: 16px;
                height: 16px;
            }
            .news__date::before {
                background-image: url(../img/calendar-w.png);
            }
            .news__comment::before {
                background-image: url(../img/comments-w.png);
            }
            .news__views::before {
                background-image: url(../img/views-w.png);
            }
        }
    }
}

@media screen and (min-width: 320px ) {
    .reading {
        &__title {
            font-size: 20px;
            margin-bottom: 0;
        }
        //&__wrapper {
        //    flex-direction: column;
        //}
        &__link {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 480px ) {
    .reading {
        &__title {
            font-size: 24px;
            margin-bottom: 0;
        }   
    }
}

@media screen and (min-width: 640px ) {
    .reading {
        &__title {
            font-size: 24px;
            margin-bottom: 0;
        }

        &__link {
            margin-right: 20px;
            margin-bottom: 0;
        }
        .item {
            &__wrapper {
                .news__date, .news__comment, .news__views {
                    font-size: 9px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .reading {
        .item {
            &__wrapper {
                .news__date, .news__comment, .news__views {
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .reading {
        &__wrapper {
            flex-direction: row;
        }
        .item {
            &__wrapper {
                .news__date, .news__comment, .news__views {
                    font-size: 14px;
                    color: white;
                }
            }
        }
    }
}