extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Известия 24";
  - const themeColor = "#ffffff";

append head

append content
  include components/latest-news
  include components/feed-templates


append scripts

