extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Известия 24";
  - const themeColor = "#ffffff";

append head

append content
  include components/latest-news
<<<<<<< HEAD
  include components/reading-now
=======
  include components/feed-templates
>>>>>>> ea9113371f784601c0a688aea32ff76f48fcf3ce


append scripts

