section.unemployment
    .container.unemployment__wrapper

        .unemployment__main
            .unemployment__wrapper-img
                img.unemployment__img(src='img/news1_img.png' alt='')
                span.unemployment__category.background-politics Политика

            .unemployment__wrapper

                include ../social

                .unemployment__block

                    h2.unemployment__title.title
                        | Массовая нищета? Путин заявил,
                        | что увольнение 20% людей в стране не повлечет за собой значимого кризиса
                    .unemployment__post
                        span.unemployment__post-item.date-1(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 1254
                        span.unemployment__post-item просмотры: 4 млн.
                    p.unemployment__text.text.unemployment__text--italic
                        | Весна начнется с массовых сокращений. Это
                        | позволит оживить экономику, которая в последнее время демонстрирует отрицательный рост из-за
                        | проведения спецоперации на Украине.
                    p.unemployment__text.text
                        | Повышение роста ВВП на 3-3,5% в год возможно только за счет
                        | сокращения массовой занятости, то есть,&nbsp;
                        span.text-red
                            | увольнения, 15-20% работников
                        | .

                        | Такой прогноз озвучил
                        | руководитель Центра макроэкономического анализа и краткосрочного прогнозирования (ЦМАКП) Дмитрий
                        | Белоусов. Это означает, что из 7,5 миллионов трудоустроенных россиян совсем скоро&nbsp;
                        span.text-red
                            | 1,5 миллиона останутся без работы
                        | .
                        | Некоторые крупные компании (РАЭКС-Аналитика, Магнит, группа компаний
                        | "Мегаполис") уже готовят списки людей на увольнение. В компании “Норникель” нам отказались
                        | подтверждать или опровергать такую информацию.
                    p.unemployment__text.text
                        | Как мы уже писали ранее, вступило в силу положение о запрете
                        | гражданам России снимать свои деньги с банковских счетов. Эти средства планируется потратить на
                        | нужды армии.


        include ../aside-first

