section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            img.unemployment__img(src='img/news1_img.png' alt='')
            h2.unemployment__title.title
                | Грозят ли россиянам массовая безработица и нищета? Путин заявил,
                | что увольнение 20% людей в стране не повлечет за собой значимого кризиса
            .unemployment__post
                span.unemployment__post-item.date 28 февраля
                span.unemployment__post-item комментарии: 1254
                span.unemployment__post-item просмотры: 2 млн.
            p.unemployment__text.text.unemployment__text--italic
                | Весна начнется с массовых сокращений. Это
                | позволит оживить экономику, которая в последнее время демонстрирует отрицательный рост из-за
                | проведения спецоперации на Украине.
            p.unemployment__text.text
                | Повышение роста ВВП на 3-3,5% в год возможно только за счет
                | сокращения массовой занятости, то есть, увольнения, 15-20% работников. Такой прогноз озвучил
                | руководитель Центра макроэкономического анализа и краткосрочного прогнозирования (ЦМАКП) Дмитрий
                | Белоусов. Это означает, что из 7,5 миллионов трудоустроенных россиян совсем скоро 1,5 миллиона
                | останутся без работы. Некоторые крупные компании (РАЭКС-Аналитика, Магнит, группа компаний
                | "Мегаполис") уже готовят списки людей на увольнение. В компании “Норникель” нам отказались
                | подтверждать или опровергать такую информацию.
            p.unemployment__text.text
                | Как мы уже писали ранее, вступило в силу положение о запрете
                | гражданам России снимать свои деньги с банковских счетов. Эти средства планируется потратить на
                | нужды армии.
        aside.sidebar
            .sidebar__head
                .sidebar__tab.active__tab ⏱ Последние
                .sidebar__tab 🔥 Популярные
                .sidebar__tab 📰 По теме
            .sidebar__list
                a.sidebar__link(href='')
                    .sidebar__list-item.news
                        .news__img
                            picture
                                source(type='image/webp' srcset='img/dollars.webp')
                                img(src='img/dollars.jpg' alt='')
                        .news__wrapper
                            h3.news__title Доллар по 200 — не предел, что ждет рубль?
                            .news__subwrapper
                                .news__date 28 фев.
                                .news__comment 215
                                .news__views 1 млн.
                a.sidebar__link(href='')
                    .sidebar__list-item.news
                        .news__img
                            picture
                                source(type='image/webp' srcset='img/giperinflation.webp')
                                img(src='img/giperinflation.jpg' alt='')
                        .news__wrapper
                            h3.news__title Гиперинфляция и товарный дефицит — прогноз аналитика (магазины и пустые полки)
                            .news__subwrapper
                                .news__date 28 фев.
                                .news__comment 125
                                .news__views 1.5 млн.
                a.sidebar__link(href='')
                    .sidebar__list-item.news
                        .news__img
                            picture
                                source(type='image/webp' srcset='img/products.webp')
                                img(src='img/products.jpg' alt='')
                        .news__wrapper
                            h3.news__title Продукты продолжают дорожать. Что будет с ценами дальше?
                            .news__subwrapper
                                .news__date 27 фев.
                                .news__comment 345
                                .news__views 500 тыс.
                a.sidebar__link(href='')
                    .sidebar__list-item.news
                        .news__img
                            picture
                                source(type='image/webp' srcset='img/minfin.webp')
                                img(src='img/minfin.jpg' alt='')
                        .news__wrapper
                            h3.news__title Минфин предлагает ввести налог на спецоперацию на Украине
                            .news__subwrapper
                                .news__date 26 фев.
                                .news__comment 174
                                .news__views 653 тыс.
                a.sidebar__link(href='')
                    .sidebar__list-item.news
                        .news__img
                            picture
                                source(type='image/webp' srcset='img/business.webp')
                                img(src='img/business.jpg' alt='')
                        .news__wrapper
                            h3.news__title Малому бизнесу придется “затянуть пояса”
                            .news__subwrapper
                                .news__date 25 фев.
                                .news__comment 654
                                .news__views 3.2 млн.
                a.sidebar__link(href='')
                    .sidebar__list-item.news
                        .news__img
                            picture
                                source(type='image/webp' srcset='img/mintryd.webp')
                                img(src='img/mintryd.jpg' alt='')
                        .news__wrapper
                            h3.news__title В Минтруде предупредили о сокращении зарплат и премий
                            .news__subwrapper
                                .news__date 24 фев.
                                .news__comment 987
                                .news__views 2 млн.
