section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            img.unemployment__img(src='img/news2_img.jpg' alt='image')
            h2.unemployment__title.title
                | Ни денег, ни работы: как большая политика отразится на простых россиянах?
            .unemployment__post
                span.unemployment__post-item.date-2(data-format='dd monthMin.')
                span.unemployment__post-item комментарии: 999
                span.unemployment__post-item просмотры: 4 млн.
            p.unemployment__text.text.unemployment__text--italic
                | Российская экономика совсем скоро пробьет очередное дно. Санкции США и ЕС ударят не только по богачам. Те, кто не имеет яхт и вилл, пострадают в первую очередь. Будут ли у нас с вами завтра деньги на то, чтобы прокормить своих детей?
            p.unemployment__text.text
                | Российская экономика никогда не была слишком стабильной. Но, похоже, последние санкции, которые ввел ряд стран за проведение военной операции на Украине, убьют ее окончательно.  Директор департамента экономического сотрудничества МИД Дмитрий Биричевский рассказал, что Россия снижает расчеты с внешними торговыми партнерами в долларах. Это означает не только отсутствие импортных товаров на полках магазинов, но и закрытие для рынка экспортных товаров. То, что завтра на полках не окажется импортной одежды и продуктов - это еще полбеды. Ужаснее то, что зарубежные компании, которые работают в России, закрывают тут свои производства. А, значит, работающие на них люди остаются без работы и средств к существованию. Только закрытие завода Volkswagen повлечет за собой сокращение около 4 000 сотрудников.
            p.unemployment__text.text
                | Запрет валютных операций повлечет гиперинфляцию и обесценивание рубля, оценки . Речь идет о ежемесячных потерях для простых граждан. Подорожает все, от хлеба до детской одежды, от пылесосов до молока. Не говоря уже о том, что проведение спецоперации на Украине и так ежедневно обходится России в 20 млн. дол.


        include ../aside

