section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            img.unemployment__img(src='img/news3-1_img.jpg' alt='image')

            .unemployment__wrapper

                include ../social

                .unemployment__block
                    h2.unemployment__title.title
                        | Запрет на доллар: почему Центробанк не сможет сдержать инфляцию и безработицу
                    .unemployment__post
                        span.unemployment__post-item.date-2(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 854
                        span.unemployment__post-item просмотры: 3 млн.
                    p.unemployment__text.text.unemployment__text--italic
                        | Президент США Джозеф Байден запретил российским банкам проводить любые финансовые операции в долларах. Это знаменует начало новой эры в экономике нашей страны. Как это связано с угрозой тотальной безработицы в России?
                    p.unemployment__text.text
                        | Эскалация конфликта с Украиной вызвала ожидаемую, по мнению Дмитрия Медведева, реакцию Запада. К сожалению, даже при относительной стабильности Центробанка нельзя не отметить того, как штормит национальную валюту в последние несколько дней. Курс рубля вчера пробил дно и он продолжает падать. Это естественно в данной ситуации: заморозка активов Центробанка означает, что 640 миллиардов долларов США недоступны РФ. Центробанк никак не сможет поддержать рубль на валютном рынке в Москве.
                    p.unemployment__text.text
                        | Прогнозы на ближайшее будущее выглядят катастрофическими. Помимо затрат на армию (по предвар. оценкам они составляют более 20 млн. дол. ежедневно), эскалация конфликта грозит сильнейшим продовольственным кризисом. Продукты станут недоступными для большинства населения, импортные товары полностью исчезнут с прилавков, а экспорт будет заморожен. Массовое сокращение рабочих мест неизбежно.
                    p.unemployment__text.text
                        | Безработица накроет не только регионы, но и центр, а закрытые границы не позволят покинуть страну в поисках заработка. Напряжение в обществе растет еще и по причине заморозки вкладов клиентов Центробанка. Напоминаем, что ранее руководством Центробанка было принято решение использовать вклады для финансирования армии.


        include ../aside

