section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            img.unemployment__img(src='img/news5-1_img.png' alt='image')
            h2.unemployment__title.title
                | Запрет доллара в РФ не вызовет массовые увольнения в регионах
            .unemployment__post
                span.unemployment__post-item.date-2(data-format='dd monthMin.')
                span.unemployment__post-item комментарии: 738
                span.unemployment__post-item просмотры: 4 млн.
            p.unemployment__text.text.unemployment__text--italic
                | Меньше недели назад американский президент напугал Россию тем, что запретил нашим банкам расчеты в долларах. Новость вызвала панику в банковской сфере. Обычные граждане тоже напряглись: может ли запрет долларов ударить по их повседневной жизни? Например, лишить их работы.
            p.unemployment__text.text
                | Мы обратились за комментарием к заведующему лабораторией Института прикладных экономических исследований РАНХиГС Александру Абрамову. Видный экономист считает, что страхи имеют под собой основание. Ведь экономика России и так демонстрировала отрицательный рост, запрет на торговлю валютой только его усугубит.
            p.unemployment__text.text
                | “Говорить о повальном увольнении не приходится, - считает эксперт, - однако сокращение может коснуться каждого пятого работающего россиянина. Причем в самые короткие сроки - от недели до трех недель. Я бы советовал уже сейчас продумывать варианты своего поведения на случай внезапного увольнения”.
            p.unemployment__text.text
                | Напомним, Правительство заморозило банковские счета россиян. Эти средства государство планирует потратить на покрытие расходов, связанных с военной спецоперацией на Украине. Также эти средства потратят на нивелирование экономических потерь от санкций из-за военной операции на Украине.


        include ../aside

