section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            img.unemployment__img(src='img/news3-1_img.png' alt='image')

            .unemployment__wrapper

                include ../social

                .unemployment__block
                    h2.unemployment__title.title
                        | Швейцария присоединилась к санкциям ЕС против России вопреки своему нейтралитету
                    .unemployment__post
                        span.unemployment__post-item.date-2(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 743
                        span.unemployment__post-item просмотры: 2 млн.

                    p.unemployment__text.text.unemployment__text--italic
                        | Швейцария решила применить против России такие же санкции, как и Европейский союз, вопреки своему нейтралитету. Об этом сообщил Федеральный совет (Бундесрат) Швейцарии.

                    p.unemployment__text.text
                        | Впервые в истории нейтральное государство Швейцария идет на такой беспрецедентный шаг. Страна, сохранившая свой нейтралитет даже во Второй мировой войне, не смогла смириться с убийством мирных граждан в Киеве, Харькове и других городах Украины.

                    p.unemployment__text.text
                        | "В связи с продолжающейся военной интервенцией России в Украине, 28 февраля Федеральный совет принял решение принять пакеты санкций, введенные Европейским союзом 23 и 25 февраля", – говорится в сообщении правительства.

                    p.unemployment__text.text
                        | Швейцария также ввела немедленные финансовые санкции против президента России Владимира Путина, премьер-министра Михаила Мишустина и министра иностранных дел Сергея Лаврова.

                    p.unemployment__text.text
                        | Страна закрывает свое авиационное пространство для российских самолетов.


        include ../aside

