section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            img.unemployment__img(src='img/news3-2_img.png' alt='image')

            .unemployment__wrapper

                include ../social

                .unemployment__block
                    h2.unemployment__title.title
                        | Рубль: дно еще не достигнуто, но полет уже начался
                    .unemployment__post
                        span.unemployment__post-item.date-2(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 980
                        span.unemployment__post-item просмотры: 3.2 млн.

                    p.unemployment__text.text.unemployment__text--italic
                        | Шок мирового сообщества сменился гневом и действиями. Их результаты на табло в обменниках в наших российских городах.
                    p.unemployment__text.text
                        | Центробанк России сегодня заявил что внешние условия для российской экономики кардинально изменились. На самом же деле рубль провалился в пропасть, как и вся российская экономика. Дно еще не достигнуто, но полет уже начался.

                    p.unemployment__text.text
                        | К сожалению это не краткосрочный эффект: падение и стагнация будут долгими, болезненными и не стабилизируются. Приходиться смириться с тем, что россияне уже не вернутся к уровню жизни, который у них был до 24 февраля 2022-го, когда РФ напала на Украину.

                    p.unemployment__text.text
                        | Что ждет среднестатистического россиянина на практике? Обнищание, задержки, уменьшение зарплат и выплат, сокращение рабочих местсворачивание инвестиций строительства.

                    p.unemployment__text.text
                        | Введенные Западом санкции ощутит на себе каждый гражданин РФ: это потери доступа к современным технологиям, обесценивание сбережений, безработица, гиперинфляция, дефицит, очереди.



        include ../aside

