section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            .unemployment__wrapper-img

                picture
                    source(type="image/webp", srcset="img/news3-2_img.webp")
                    img.unemployment__img(src='img/news3-2_img.jpg')

                span.unemployment__category.background-specProjects Спецпроекты

            .unemployment__wrapper

                include ../social

                .unemployment__block
                    h2.unemployment__title.title
                        | Сколько стоит жизнь солдата? Минобороны озвучил сумму компенсации родственникам
                    .unemployment__post
                        span.unemployment__post-item.date-1(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 147
                        span.unemployment__post-item просмотры: 735тыс.

                    p.unemployment__text.text.unemployment__text--italic
                        | Правительство назвало сумму компенсации за гибель военнослужащего в ходе военной операции на Украине, которая происходит прямо сейчас. 11 тысяч рублей - столько Минобороны РФ выплатит семьям погибших в ходе военной операции на Украине

                    p.unemployment__text.text
                        | Матери и жены, чьи родные находятся на Украине в составе воинского контингента, могут рассчитывать на 11 тысяч рублей. Такая сумма будет выплачена за смерть кормильца. Деньги будут выплачиваться на банковскую карту. Поэтому предвидятся сложности с получением реальных денег. Ведь банкоматы по всей стране уже несколько дней не выдают наличных денег.


                    p.unemployment__text.text
                        | Напомним, что раньше, согласно Федерального закона РФ «О денежном довольствии военнослужащих и предоставлении им отдельных выплат», компенсация за гибель военнослужащего составляла 3 миллиона рублей. Но поскольку количество погибших с начала спецоперации 24 февраля очень велико, ее уменьшили. Министр экономики РФ Максим Геннадьевич Решетников  в ходе состоявшегося брифинга заявил: “Наша экономика просто не потянет выплату таких сумм. Тем более, что эти расходы не являются приоритетными. Есть другие, главные статьи расходов, которые мы не можем урезать”.


                    p.unemployment__text.text
                        | По текущему неофициально-коммерческому курсу 11 тысяч рублей - это около 50 долларов США.


        include ../aside-first

