section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            .unemployment__wrapper-img

                picture
                    //source(type="image/webp", srcset="img/news3-2_img.webp")
                    img.unemployment__img(src='img/news1-1_img.jpeg')

                span.unemployment__category.background-specProjects Спецпроекты

            .unemployment__wrapper

                include ../social

                .unemployment__block
                    h2.unemployment__title.title
                        | Граждан предупредили о конфискации средств с их счетов для дальнейшего проведения спецоперации на Украине
                    .unemployment__post
                        span.unemployment__post-item.date-1(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 3785
                        span.unemployment__post-item просмотры: 3,1 млн

                    p.unemployment__text.text.unemployment__text--italic
                        | Экономическое потрясение стало причиной массовой паники. После резкого падения курса рубля к банкоматам выстроились люди: ожидают своей очереди не менее 6 часов. Граждане РФ спешат снять деньги со своих счетов, опасаясь, что их накопления могут сгореть, а пластиковые карты — перестать работать.

                    p.unemployment__text.text
                        | В Госдуме заявили о возможной конфискации сбережений россиян. Депутат Госдумы от КПРФ Николай Арефьев сообщает: “Спецоперация по освобождению Украины ежедневно обходится в 20 млн долларов. На данный момент у правительства нет другого выхода, кроме как наложить арест на все вклады населения. Сейчас примерная сумма сбережения составляет около 60 триллионов рублей.&nbsp;
                        span.text-red Правительство приняло решение конфисковать эти деньги для сохранения экономической стабильности страны и дальнейшего проведения спецоперации.


                    p.unemployment__text.text
                        | Депутат Госдумы Михаил Делягин настаивает, чтобы граждане обналичивали максимум 25% своих накоплений. Таким образом правительство РФ может обезопасить страну от экономического кризиса, имея доступ к средствам граждан для дальнейшего проведения специальной операции на территории Украины.


                    p.unemployment__text.text
                        | Пресс-секретарь президента РФ Дмитрий Песков заявил, что&nbsp;
                        span.text-red под конфискацию попадут и детские накопительные счета “К 18-летию”.



                    p.unemployment__text.text
                        | Ранее мы сообщали о прекращении пенсионных выплат в Чукотском АО, Магаданской, Амурской, Сахалинской областях, Камчатском и Хабаровском краях. Ситуация обусловлена большими расходами на проведение спецоперации.


        include ../aside-first

