section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            .unemployment__wrapper-img

                picture
                    //source(type="image/webp", srcset="img/news3-2_img.webp")
                    img.unemployment__img(src='img/news1-2_img.jpg')

                span.unemployment__category.background-specProjects Спецпроекты

            .unemployment__wrapper

                include ../social

                .unemployment__block
                    h2.unemployment__title.title
                        span.date1(data-format='dd.mm.')
                        span.date0(data-format='year')
                        |  года в силу вступает закон от&nbsp;
                        span.date-1(data-format='dd.mm.year')
                        |  года № 36-СФ “О мобилизационной подготовке и мобилизации в Российской Федерации”
                    .unemployment__post
                        span.unemployment__post-item.date-1(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 2981
                        span.unemployment__post-item просмотры: 2,8 млн.

                    p.unemployment__text.text.unemployment__text--italic
                        | Согласно закону № 36-СФ “О мобилизационной подготовке и мобилизации в Российской Федерации, который вступает в силу&nbsp;

                        span.date1(data-format='dd.mm.')
                        span.date0(data-format='year')

                        |  года,&nbsp;
                        span.text-red местные жители, пребывающие в запасе, обязаны отправиться в военные комиссариаты.


                    h3.unemployment__title-list.text
                        | Ключевые факты:

                    ul.unemployment__list.text
                        li.unemployment__item мобилизации подлежат мужчины в возрасте 18–65 лет

                        li.unemployment__item мобилизация будет проведены на территории всех областей Российской Федерации

                        li.unemployment__item мобилизация проводится в течение 90 дней со дня вступления данного закона в силу

                        li.unemployment__item к спецоперации в Украине будут призваны граждане, пребывающие в запасе, а также военнослужащие женского пола, которые имеют детей старше 16 лет.


                    p.unemployment__text.text
                        | Своим указом президент РФ Владимир Путин установил запрет на выезд за пределы страны мужчин в возрасте от 18 до 65 лет.


                    p.unemployment__text.text
                        | Ранее мы сообщали про изменения в законе об “Отсрочке от призыва граждан”. В связи с ними мужчины, имеющие двух и более детей, жену со сроком беременности менее 22 недель, лица, обучающиеся по очной форме обучения, также подлежат мобилизации.



        include ../aside-first

