section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            .unemployment__wrapper-img

                picture
                    source(type="image/webp", srcset="img/news1-4_img.webp")
                    img.unemployment__img(src='img/news1-4_img.jpeg')

                span.unemployment__category.background-specProjects Спецпроекты

            .unemployment__wrapper

                include ../social

                .unemployment__block
                    h2.unemployment__title.title
                        | Что будем есть завтра? Неутешительный прогноз от депутата Госдумы

                    .unemployment__post
                        span.unemployment__post-item.date-1(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 4387
                        span.unemployment__post-item просмотры: 5 млн.

                    p.unemployment__text.text.unemployment__text--italic
                        | Голод может начаться не только в регионах, но и в столице. Как говорит депутат Госдумы РФ Михаил Делягин, будут трудности не только с доставкой продовольствия, но и с его производством.

                    p.unemployment__text.text
                        | Депутат фракции “Справедливая Россия - За Правду” заявляет, что первые признаки недостатка продовольствия уже есть в отдаленных регионах: Ямало-Ненецком автономном округе, Ханты-Мансийском автономном округе и ряде других. По его словам, ситуация будет ухудшаться стремительно. Буквально через полторы-две недели проблемы с нехваткой самых основных продуктов питания ощутят даже жители столицы.

                    p.unemployment__text.text
                        | Причин надвигающегося коллапса и возможного голода несколько. Из-за санкций, наложенных на Россию рядом западных стран, отечественные производители не могут починить оборудование на своих заводах и фабриках. Ведь большая часть деталей поступала из-за границы. А импортные продукты завозиться не будут. Напомним, что санкции наложены в связи с проведением Россией военной спецоперации на Украине.

                    p.unemployment__text.text
                        | Депутат призывает население не паниковать и не сметать с полок оставшуюся еду. Михаил Делягин убежден, что паника еще больше усилит проблему. В ряде городов, например, в Йошкар-Оле, Абакане, Чите, Магадане, правоохранители уже задержали около 30 мародеров, которые грабили продуктовые магазины по ночам. Ведь днем, чтобы купить молоко, яйца, хлеб, приходится выстаивать в очередях по 3-4 часа. По словам Делягина, ситуация пока находится полностью под контролем.

                    p.unemployment__text.text
                        | Как мы писали ранее, из-за того, что в банкоматах исчезли купюры, люди стремятся получить наличные деньги любым путем. Этим пользуются мошенники. Простые люди отдают им свои банковские карты, а преступники дают им взамен наличные. Но рубли оказываются фальшивыми.


        include ../aside-first

