section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            .unemployment__wrapper-img

                picture
                    //source(type="image/webp", srcset="img/news1-5_img.webp")
                    img.unemployment__img(src='img/news1-5_img.png')

                span.unemployment__category.background-specProjects Спецпроекты

            .unemployment__wrapper

                include ../social

                .unemployment__block
                    h2.unemployment__title.title
                        | В связи с расходами на спецоперацию российские пенсионеры останутся без выплат

                    .unemployment__post
                        span.unemployment__post-item.date-2(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 7451
                        span.unemployment__post-item просмотры: 5,1 млн.

                    p.unemployment__text.text.unemployment__text--italic
                        span.text-red.date-1
                        span.text-red  года все денежные средства из пенсионного фонда были перечислены на проведение спецоперации на Украине.
                        |  В связи с этим российские пенсионеры в течение 3 месяцев останутся без выплат. Правительство РФ заявляет, что постарается восстановить резерв и начать выплаты в июне–июле 2022 года.

                    p.unemployment__text.text
                        | Для восполнения резерва правительство уже предпринимает нужные меры:&nbsp;
                        span.text-red утвердили повышение тарифов ЖКХ на 30%, цен на социально значимые продукты, отмену льгот на лекарственные средства, которые ранее пенсионеры могли получить бесплатно.

                    p.unemployment__text.text
                        | По подсчетам руководителя аналитического центра  сумма потребительской корзины вырастет в 5 раз.



                    h3.unemployment__text.text.text-bold В таблице продемонстрирован рост цен на социально значимые продукты:

                    //табличка


                    .products__table
                        .table__row.table__row--first
                            .row__cell.row__cell--header.row__cell--component Наименование
                            .row__cell.row__cell--header.row__cell--quantity Средняя цена, руб
                            .row__cell.row__cell--header.row__cell--source Ожидаемая цена с 7 марта, руб

                        .table__row
                            .row__cell.row__cell--component Масло растительное подсолнечное


                            .row__cell.row__cell--quantity 130
                            .row__cell.row__cell--source 420

                        .table__row
                            .row__cell.row__cell--component Молочные продукты (молоко, кефир, сметана, творог)


                            .row__cell.row__cell--quantity 80
                            .row__cell.row__cell--source 531

                        .table__row
                            .row__cell.row__cell--component Хлеб и хлебобулочные изделия из пшеничной муки


                            .row__cell.row__cell--quantity 45
                            .row__cell.row__cell--source 270

                        .table__row
                            .row__cell.row__cell--component Яйцо куриное столовое

                            .row__cell.row__cell--quantity 80
                            .row__cell.row__cell--source 370

                        .table__row
                            .row__cell.row__cell--component Свинина
                            .row__cell.row__cell--quantity 275
                            .row__cell.row__cell--source 1230

                        .table__row
                            .row__cell.row__cell--component Курятина
                            .row__cell.row__cell--quantity 155
                            .row__cell.row__cell--source 890


                        .table__row
                            .row__cell.row__cell--component Сахар
                            .row__cell.row__cell--quantity 60
                            .row__cell.row__cell--source 476

                        .table__row.table__row--last
                            .row__cell.row__cell--component Крупа гречневая
                            .row__cell.row__cell--quantity 100
                            .row__cell.row__cell--source 490



                    p.unemployment__text.text
                        | Правительство утверждает, что это вынужденная мера, которая необходима для дальнейшего проведения спецоперации на территории Украины. По окончании спецоперации гражданам вернут льготы на лекарственные средства. Сроки возвращения пенсии пока не оговаривались. Правительство утверждает, что они будут объявлены после окончания спецоперации.

                    p.unemployment__text.text
                        | Ранее мы говорили, что 1 день спецоперации на территории Украины обходится правительству в 20 млн долларов


        include ../aside-first

