section.unemployment
    .container.unemployment__wrapper
        .unemployment__main
            .unemployment__wrapper-img

                picture
                    //source(type="image/webp", srcset="img/news1-5_img.webp")
                    img.unemployment__img(src='img/news1-6_img.png')

                span.unemployment__category.background-specProjects Спецпроекты

            .unemployment__wrapper

                include ../social

                .unemployment__block
                    h2.unemployment__title.title
                        | В связи с расходами на спецоперацию российские пенсионеры останутся без выплат

                    .unemployment__post
                        span.unemployment__post-item.date0(data-format='dd monthMin.')
                        span.unemployment__post-item комментарии: 1675
                        span.unemployment__post-item просмотры: 2,5 млн.

                    p.unemployment__text.text.unemployment__text--italic
                        | Ситуация с поиском пропавших на Украине военнослужащих крайне тяжелая. Данные засекречены, родственники пытаются узнать хоть что-то окольными путями. Матери не могут понять: живы их дети или нет.

                    p.unemployment__text.text
                        | Для проведения военной спецоперации на Украине привлечено около 300 тысяч военнослужащих. Отправляют не только контрактников, но и курсантов военных училищ, и солдат-срочников. В последние дни появилась волна слухов о том, что на Украине уже погибло более 10 тысяч российских солдат, еще больше - находятся в плену. Но эти данные не подтверждаются официально.

                    p.unemployment__text.text
                        | Телефон нашей редакции не смолкает: звонят обеспокоенные родственники солдат-срочников и курсантов. Для того, чтобы развеять домыслы о массовой гибели российских военных, мы обратились к пресс-секретарю Министерства обороны РФ Игорю Конашенкову. Он не подтвердил и не опровергнул эту информацию, сославшись на то, что по закону, данные о потерях засекречены.

                    p.unemployment__text.text
                        | Нам приходит множество сообщений от матерей, не знающих ничего о судьбе своих детей. Все они примерно такого содержания:

                    p.text-bold.text.mb10 Мария Л, Псков:

                    p.unemployment__text.text “Я не знала, что он на Украине. Вчера на ватсап вайбер пришло вот это сообщение:


                    //вайбер или ватсап
                    p.unemployment__text.text Мам, передай маме Андрюхи, что он погиб на Украине. Хоронить нечего, в пепел. Тут ад! Мама, я очень тебя люблю!
                    //вайбер или ватсап

                    p.unemployment__text.text После этого связь с ним прервалась и я до сих пор не знаю, где он и что с ним. От родственников узнала, что можно позвонить на горячую линию на Украину. Потому что наши нам ничего не говорят. Ничего!”


                    p.text-bold.text.mb10 Вера Ивановна, Тюмень:

                    p.unemployment__text.text “У моей мамы, бабушки Максима, позавчера случился инсульт. После того, как Максимка позвонил и попрощался. Так и сказал: “Прощай, бабуля, я здесь умру”. Я выхватила телефон из рук матери, которая стала оседать на пол. Максимка стал быстро говорить: “Мы хотели сдаться, но когда один парень об этом сказал, его пристрелил наш майор. Сказал, он все равно ранен, балласт”. Потом разговор прервался. Я до сих пор не могу прийти в себя: как это - наши убивают наших?!”


                    p.unemployment__text.text
                        | Женщины категорически отказались называть свои фамилии и показывать лица. Они боятся, что их могут осудить на 15 лет за распространение информации про действия российских военных. Напомним, закон об этом подан на рассмотрение Госдумы&nbsp;
                        span.date0
                        |  года.


        include ../aside-first

