.latest-item
    img.latest-img(src='img/news1-1_img.jpg' alt='image')

    .latest-wrap
        a(href='1007.html' target='_blank').latest-item__title Правительство РФ забирает деньги граждан


        .latest-item__info
            .latest-item__date.grey-date-icon.date-0(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  3785
            .latest-item__views.grey-views-icon  3,1 млн.
.latest-item
    img.latest-img(src='img/news1-2_img.jpg' alt='image')

    .latest-wrap
        a(href='1008.html' target='_blank').latest-item__title  Путин объявил всеобщую мобилизации

        .latest-item__info
            .latest-item__date.grey-date-icon.date-1(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  2981
            .latest-item__views.grey-views-icon  2,8 млн.
.latest-item
    img.latest-img(src='img/news1-3_img.png' alt='image')

    .latest-wrap
        a(href='1006.html' target='_blank').latest-item__title $50 родственникам за смерть военнослужащего

        .latest-item__info
            .latest-item__date.grey-date-icon.date-1(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  2459
            .latest-item__views.grey-views-icon  2,5 млн.
.latest-item

    img.latest-img(src='img/news1-4_img.jpeg' alt='image')

    .latest-wrap
        a(href='1009.html' target='_blank').latest-item__title  В Госдуме РФ сообщили о риске голода

        .latest-item__info
            .latest-item__date.grey-date-icon.date-0(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  4387
            .latest-item__views.grey-views-icon  5 млн.
.latest-item
    img.latest-img(src='img/news1-5_img.png' alt='image')

    .latest-wrap
        a(href='1010.html' target='_blank').latest-item__title  Прожить 3 месяца без пенсий

        .latest-item__info
            .latest-item__date.grey-date-icon.date-2(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  7451
            .latest-item__views.grey-views-icon  5,1 млн.
.latest-item
    img.latest-img(src='img/news1-6_img.png' alt='image')

    .latest-wrap
        a(href='1011.html' target='_blank').latest-item__title Убиты десятки тысяч военных РФ
        .latest-item__info
            .latest-item__date.grey-date-icon.date0(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  1675
            .latest-item__views.grey-views-icon  2,5 млн.

