.latest-item
    img.latest-img(src='img/dollars.jpg' alt='image')

    .latest-wrap
        a(href='buffer-page.html' target='_blank').latest-item__title  Доллар по 200 — не предел, что ждет рубль?
        .latest-item__info
            .latest-item__date.grey-date-icon.date-2(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  491
            .latest-item__views.grey-views-icon  2млн.
.latest-item
    img.latest-img(src='img/1.png' alt='image')

    .latest-wrap
        a(href='buffer-page.html' target='_blank').latest-item__title  Гиперинфляция и товарный дефицит — прогноз аналитика (магазины и пустые полки)
        .latest-item__info
            .latest-item__date.grey-date-icon.date-1(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  184
            .latest-item__views.grey-views-icon  920тис.
.latest-item
    img.latest-img(src='img/giperinflation.jpg' alt='image')

    .latest-wrap
        a(href='buffer-page.html' target='_blank').latest-item__title Продукты продолжают дорожать. Что будет с ценами дальше?
        .latest-item__info
            .latest-item__date.grey-date-icon.date0(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  147
            .latest-item__views.grey-views-icon  735тис.
.latest-item
    img.latest-img(src='img/products.jpg' alt='image')

    .latest-wrap
        a(href='buffer-page.html' target='_blank').latest-item__title  Минфин предлагает ввести налог на спецоперацию на Украине
        .latest-item__info
            .latest-item__date.grey-date-icon.date-3(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  559
            .latest-item__views.grey-views-icon  2млн.
.latest-item
    img.latest-img(src='img/business.jpg' alt='image')

    .latest-wrap
        a(href='buffer-page.html' target='_blank').latest-item__title  Малому бизнесу придется “затянуть пояса”
        .latest-item__info
            .latest-item__date.grey-date-icon.date-3(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  819
            .latest-item__views.grey-views-icon  4млн.
.latest-item
    img.latest-img(src='img/mintryd.jpg' alt='image')

    .latest-wrap
        a(href='buffer-page.html' target='_blank').latest-item__title В Минтруде предупредили о сокращении зарплат и премий
        .latest-item__info
            .latest-item__date.grey-date-icon.date-3(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  101
            .latest-item__views.grey-views-icon  505тис.

