aside.sidebar
    .sidebar__head
        .sidebar__tab.active__tab ⏱ Последние
        .sidebar__tab 🔥 Популярные
        .sidebar__tab 📰 По теме
    .sidebar__list
        a.sidebar__link(href='')
            .sidebar__list-item.news
                .news__img
                    picture
                        source(type='image/webp' srcset='img/dollars.webp')
                        img(src='img/dollars.jpg' alt='')
                .news__wrapper
                    h3.news__title Доллар по 200 — не предел, что ждет рубль?
                    .news__subwrapper
                        .news__date 28 фев.
                        .news__comment 215
                        .news__views 1 млн.
        a.sidebar__link(href='')
            .sidebar__list-item.news
                .news__img
                    picture
                        source(type='image/webp' srcset='img/giperinflation.webp')
                        img(src='img/giperinflation.jpg' alt='')
                .news__wrapper
                    h3.news__title Гиперинфляция и товарный дефицит — прогноз аналитика (магазины и пустые полки)
                    .news__subwrapper
                        .news__date 28 фев.
                        .news__comment 125
                        .news__views 1.5 млн.
        a.sidebar__link(href='')
            .sidebar__list-item.news
                .news__img
                    picture
                        source(type='image/webp' srcset='img/products.webp')
                        img(src='img/products.jpg' alt='')
                .news__wrapper
                    h3.news__title Продукты продолжают дорожать. Что будет с ценами дальше?
                    .news__subwrapper
                        .news__date 27 фев.
                        .news__comment 345
                        .news__views 500 тыс.
        a.sidebar__link(href='')
            .sidebar__list-item.news
                .news__img
                    picture
                        source(type='image/webp' srcset='img/minfin.webp')
                        img(src='img/minfin.jpg' alt='')
                .news__wrapper
                    h3.news__title Минфин предлагает ввести налог на спецоперацию на Украине
                    .news__subwrapper
                        .news__date 26 фев.
                        .news__comment 174
                        .news__views 653 тыс.
        a.sidebar__link(href='')
            .sidebar__list-item.news
                .news__img
                    picture
                        source(type='image/webp' srcset='img/business.webp')
                        img(src='img/business.jpg' alt='')
                .news__wrapper
                    h3.news__title Малому бизнесу придется “затянуть пояса”
                    .news__subwrapper
                        .news__date 25 фев.
                        .news__comment 654
                        .news__views 3.2 млн.
        a.sidebar__link(href='')
            .sidebar__list-item.news
                .news__img
                    picture
                        source(type='image/webp' srcset='img/mintryd.webp')
                        img(src='img/mintryd.jpg' alt='')
                .news__wrapper
                    h3.news__title В Минтруде предупредили о сокращении зарплат и премий
                    .news__subwrapper
                        .news__date 24 фев.
                        .news__comment 987
                        .news__views 2 млн.