.latest-item
    img.latest-img(src='img/news1-1_img.jpeg' alt='image')

    .latest-wrap
        a(href='1007.html' target='_blank').latest-item__title Правительство РФ забирает деньги граждан


        .latest-item__info
            .latest-item__date.grey-date-icon.date-0(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  3785
            .latest-item__views.grey-views-icon  3,1 млн.
.latest-item
    img.latest-img(src='img/news1-2_img.jpeg' alt='image')

    .latest-wrap
        a(href='1008.html' target='_blank').latest-item__title  Путин объявил всеобщую мобилизации

        .latest-item__info
            .latest-item__date.grey-date-icon.date-1(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  2981
            .latest-item__views.grey-views-icon  2,8 млн.
.latest-item
    img.latest-img(src='img/news1-3_img.png' alt='image')

    .latest-wrap
        a(href='1006.html' target='_blank').latest-item__title $50 родственникам за смерть военнослужащего

        .latest-item__info
            .latest-item__date.grey-date-icon.date-1(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  2459
            .latest-item__views.grey-views-icon  2,5 млн.
.latest-item
    img.latest-img(src='img/products.jpg' alt='image')

    .latest-wrap
        a(href='1009.html' target='_blank').latest-item__title  В Госдуме РФ сообщили о риске голода

        .latest-item__info
            .latest-item__date.grey-date-icon.date-0(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  4387
            .latest-item__views.grey-views-icon  5 млн.
.latest-item
    img.latest-img(src='img/business.jpg' alt='image')

    .latest-wrap
        a(href='buffer-page.html' target='_blank').latest-item__title  Отмена пенсий на 3 месяца

        .latest-item__info
            .latest-item__date.grey-date-icon.date-0(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  819
            .latest-item__views.grey-views-icon  4млн.
.latest-item
    img.latest-img(src='img/mintryd.jpg' alt='image')

    .latest-wrap
        a(href='buffer-page.html' target='_blank').latest-item__title Убиты десятки тысяч военных РФ
        .latest-item__info
            .latest-item__date.grey-date-icon.date-1(data-format='dd monthMin.')
            .latest-item__comments.grey-comments-icon  101
            .latest-item__views.grey-views-icon  505тис.

