.feed-templates#feed-templates
	.content
		.feed-template-2-news-group-row
			.feed-template-2-small-news-container
				.feed-template-2-header
					.feed-template-2-news-type-title 🚨 Спецпроекты
					a.feed-template-2-news-type-link(href='' target='_blank') Все спецпроекты >
				.feed-template-2-news-group-row
					.feed-template-2-news-group-column
						a#3507.feed-template-2-small-news-item-link-container(href='/3507' target='_blank' data-priority='1' data-block-priority='2' data-block-items-amount='6' data-type='specialProjects')
							img.feed-template-2-small-news-item-image(src='https://novostinedeli.ru/assets/images/user-specific/news-615fa69d-e893-4a9a-afbf-a0d74c01080c-square.png' alt='')
							div
								.feed-template-2-small-news-item-title  Микробы в кишечнике могут влиять на личность человека
								.feed-template-2-small-news-item-additional-info
									.feed-template-2-small-news-item-additional-info-item.grey-date-icon  17 февр.
									.feed-template-2-small-news-item-additional-info-item.grey-comments-icon  953
									.feed-template-2-small-news-item-additional-info-item.grey-views-icon  4млн.
						a#3641.feed-template-2-small-news-item-link-container(href='/3641' target='_blank' data-priority='2' data-block-priority='2' data-block-items-amount='6' data-type='specialProjects')
							img.feed-template-2-small-news-item-image(src='https://novostinedeli.ru/assets/images/user-specific/news-7a01766c-5222-4e96-bbeb-c2b34c662e1c-square.png' alt='')
							div
								.feed-template-2-small-news-item-title  Это навсегда: кого нельзя брать в крестные ребенку
								.feed-template-2-small-news-item-additional-info
									.feed-template-2-small-news-item-additional-info-item.grey-date-icon  23 февр.
									.feed-template-2-small-news-item-additional-info-item.grey-comments-icon  555
									.feed-template-2-small-news-item-additional-info-item.grey-views-icon  2млн.
						a#3206.feed-template-2-small-news-item-link-container(href='/3206' target='_blank' data-priority='3' data-block-priority='2' data-block-items-amount='6' data-type='specialProjects')
							img.feed-template-2-small-news-item-image(src='https://novostinedeli.ru/assets/images/user-specific/news-14f4b19f-c861-4c20-ac54-506e3957f596-square.png' alt='')
							div
								.feed-template-2-small-news-item-title  Рейтинг "сволочей" по знаку зодиака
								.feed-template-2-small-news-item-additional-info
									.feed-template-2-small-news-item-additional-info-item.grey-date-icon  17 февр.
									.feed-template-2-small-news-item-additional-info-item.grey-comments-icon  838
									.feed-template-2-small-news-item-additional-info-item.grey-views-icon  4млн.
					.feed-template-2-news-group-column
						a#3633.feed-template-2-small-news-item-link-container(href=' ' target='_blank' data-priority='4' data-block-priority='2' data-block-items-amount='6' data-type='specialProjects')
							img.feed-template-2-small-news-item-image(src='https://novostinedeli.ru/assets/images/user-specific/news-d9eb7689-282d-4293-b953-93ff897b3267-square.png' alt='')
							div
								.feed-template-2-small-news-item-title
									| «Покуда еще не остыл»: зачем русские старались быстрее снять покойника с постели
								.feed-template-2-small-news-item-additional-info
									.feed-template-2-small-news-item-additional-info-item.grey-date-icon  23 февр.
									.feed-template-2-small-news-item-additional-info-item.grey-comments-icon  507
									.feed-template-2-small-news-item-additional-info-item.grey-views-icon  2млн.
						a#3434.feed-template-2-small-news-item-link-container(href=' ' target='_blank' data-priority='5' data-block-priority='2' data-block-items-amount='6' data-type='specialProjects')
							img.feed-template-2-small-news-item-image(src='https://novostinedeli.ru/assets/images/user-specific/news-83f5d860-caeb-41bb-b667-f6bd46b2d81e-square.png' alt='')
							div
								.feed-template-2-small-news-item-title  Будет четыре удара подряд: Землю накроет магнитными бурями "красного" уровня
								.feed-template-2-small-news-item-additional-info
									.feed-template-2-small-news-item-additional-info-item.grey-date-icon  18 февр.
									.feed-template-2-small-news-item-additional-info-item.grey-comments-icon  934
									.feed-template-2-small-news-item-additional-info-item.grey-views-icon  4млн.
						a#3564.feed-template-2-small-news-item-link-container(href=' ' target='_blank' data-priority='6' data-block-priority='2' data-block-items-amount='6' data-type='specialProjects')
							img.feed-template-2-small-news-item-image(src='https://novostinedeli.ru/assets/images/user-specific/news-9fbd01a3-6d1b-4941-90d3-efad5a0e5da0-square.png' alt='')
							div
								.feed-template-2-small-news-item-title  Раскрыта тайна молитвы «Отче наш»: в это сложно поверить
								.feed-template-2-small-news-item-additional-info
									.feed-template-2-small-news-item-additional-info-item.grey-date-icon  21 февр.
									.feed-template-2-small-news-item-additional-info-item.grey-comments-icon  607
									.feed-template-2-small-news-item-additional-info-item.grey-views-icon  3млн.
			.type-container.feed-template-2-news-group-column
				a#3640.feed-template-2-big-news-item-link-container(href=' ' target='_blank' data-priority='5' data-block-priority='3' data-block-items-amount='6' data-type='topReadableNow')
					img.lna-news-block__image(src='https://novostinedeli.ru/assets/images/user-specific/news-1e6144b3-df93-4a3e-bbe5-3d0b70ecef53.png')
					.lna-news-block__content-wrapper
						.lna-news-block__title
							span.lna-news-block__category.background-specProjects  Спецпроекты 
							.lna-news-block__title-text В Донецке произошел взрыв
							.feed-template-2-big-news-item-additional-info
								.feed-template-2-big-news-item-additional-info-item.white-date-icon  23 февр.
								.feed-template-2-big-news-item-additional-info-item.white-comments-icon  625
								.feed-template-2-big-news-item-additional-info-item.white-views-icon  3млн.
			.type-container.feed-template-2-news-group-column
				a#3632.feed-template-2-big-news-item-link-container(href=' ' target='_blank' data-priority='6' data-block-priority='3' data-block-items-amount='6' data-type='topReadableNow')
					img.lna-news-block__image(src='https://novostinedeli.ru/assets/images/user-specific/news-703d15e0-600f-4571-a5e6-b0b369219b92.png')
					.lna-news-block__content-wrapper
						.lna-news-block__title
							span.lna-news-block__category.background-health  Здоровье 
							.lna-news-block__title-text Назван единственный способ отличить «омикрон» от гриппа и простуды
							.feed-template-2-big-news-item-additional-info
								.feed-template-2-big-news-item-additional-info-item.white-date-icon  22 февр.
								.feed-template-2-big-news-item-additional-info-item.white-comments-icon  271
								.feed-template-2-big-news-item-additional-info-item.white-views-icon  1млн.
