.feed-templates#feed-templates
	.container
		.feed-templates__wrappper

			.feed-template-2-news-group-row
				.feed-template-2-small-news-container
					.feed-template-2-header
						.feed-template-2-news-type-title 🚨 Спецпроекты
						a.feed-template-2-news-type-link(href='buffer-page.html' target='_blank') Все спецпроекты >
					.feed-template-2-news-group-row
						.latest-list
							include aside-second-list

				.type-container.feed-template-2-news-group-column
					a(href='1004.html' target='_blank').feed-template-2-big-news-item-link-container
						picture
							source(type="image/webp", srcset="img/news3-1_img.webp")
							img.lna-news-block__image(src='img/news3-1_img.jpg')
						.lna-news-block__content-wrapper
							.lna-news-block__title
								span.lna-news-block__category.background-specProjects  Спецпроекты
								.lna-news-block__title-text Швейцария присоединилась к санкциям ЕС против России вопреки своему нейтралитету
								.feed-template-2-big-news-item-additional-info
									.feed-template-2-big-news-item-additional-info-item.white-date-icon.date0(data-format='dd monthMin.')
									.feed-template-2-big-news-item-additional-info-item.white-comments-icon  625
									.feed-template-2-big-news-item-additional-info-item.white-views-icon  637тыс.
				.type-container.feed-template-2-news-group-column
					a(href='1003.html' target='_blank').feed-template-2-big-news-item-link-container
						picture
							//source(type="image/webp", srcset="img/news3-2_img.webp")
							img.lna-news-block__image(src='img/news2-3_img.jpg')

						.lna-news-block__content-wrapper
							.lna-news-block__title
								span.lna-news-block__category.background-specProjects   Спецпроекты
								.lna-news-block__title-text Запрет доллара в РФ не вызовет масштабные увольнение в регионах
								.feed-template-2-big-news-item-additional-info
									.feed-template-2-big-news-item-additional-info-item.white-date-icon.date-1(data-format='dd monthMin.')
									.feed-template-2-big-news-item-additional-info-item.white-comments-icon  764
									.feed-template-2-big-news-item-additional-info-item.white-views-icon  984тыс.


										//.reading__item.item
														//    picture
														//        //source(type="image/webp", srcset="img/reading-3.webp")
														//        img(src="img/news2-3_img.jpg", alt="", class="reading__img")
														//    span.item__category Политика
														//    .item__title Запрет доллара в РФ не вызовет масштабные увольнение в регионах
														//    .news__subwrapper.item__wrapper
														//        .news__date.date-1(data-format='dd monthMin.')
														//        .news__comment 764
														//        .news__views 984тыс.

