header.header
    .container
        .header-wrapper
            a.header-logo__link(href='teasers-feed.html' target='_blank')
                img.navbar-logo(src='img/news-service-big-logo.svg')
            .header-btn
            .header-actions
                a.header-actions__button.header-actions__button--active(href='index.html' target='_blank') Все новости
                a.header-actions__button(href='showBusiness.html' target='_blank') Шоу-бизнес
                a.header-actions__button(href='health.html' target='_blank') Здоровье
                a.header-actions__button(href='sport.html' target='_blank') Спорт
                a.header-actions__button(href='politics.html' target='_blank') Политика
                a.header-actions__button(href='cuisine.html' target='_blank') Кухня
                a.header-actions__button(href='specProjects.html' target='_blank') Спецпроекты