.reading 
    .container 
        .latest__title-wrapper.latest__title-wrapper--desk.reading__head
                    h2.latest__title.reading__title 🔥 Сейчас читают
                    a(href="#").latest__all-news.reading__all-news  Все новости >
        .reading__wrapper 
            a.reading__link(href="")
                .reading__item.item
                    picture 
                        source(type="image/webp", srcset="img/reading-1.webp")
                        img(src="img/reading-1.jpg", alt="", class="reading__img")
                    span.item__category Политика
                    .item__title Запрет доллара в РФ не вызовет масштабные увольнение в регионах
                    .news__subwrapper.item__wrapper 
                        .news__date 27 фев.
                        .news__comment 333
                        .news__views 500 тыс. 
            a.reading__link(href="")
                .reading__item.item 
                    picture 
                        source(type="image/webp", srcset="img/reading-2.webp")
                        img(src="img/reading-2.jpg", alt="", class="reading__img")
                    span.item__category Политика
                    .item__title Запрет доллара в РФ не вызовет масштабные увольнение в регионах
                    .news__subwrapper.item__wrapper 
                        .news__date 27 фев.
                        .news__comment 333
                        .news__views 500 тыс. 
            a.reading__link(href="")
                .reading__item.item 
                    picture 
                        source(type="image/webp", srcset="img/reading-3.webp")
                        img(src="img/reading-3.jpg", alt="", class="reading__img")
                    span.item__category Политика
                    .item__title Запрет доллара в РФ не вызовет масштабные увольнение в регионах
                    .news__subwrapper.item__wrapper 
                        .news__date 27 фев.
                        .news__comment 333
                        .news__views 500 тыс. 