.reading 
    .container 
        .latest__title-wrapper.latest__title-wrapper--desk.reading__head
                    h2.latest__title.reading__title 🔥 Сейчас читают
                    a(href="#").latest__all-news.reading__all-news  Все новости >
        .reading__wrapper 
            a.reading__link(href="1001.html" target='_blank')
                .reading__item.item
                    picture 
                        //source(type="image/webp", srcset="img/reading-1.webp")
                        img(src="img/news2-1_img.jpg", alt="", class="reading__img")
                    span.item__category Политика
                    .item__title Ни денег, ни работы: как большая политика отразится на простых россиянах?
                    .news__subwrapper.item__wrapper 
                        .news__date.date0(data-format='dd monthMin.')
                        .news__comment 815
                        .news__views 857тыс.
            a.reading__link(href="1002.html" target='_blank')
                .reading__item.item 
                    picture 
                        //source(type="image/webp", srcset="img/reading-2.webp")
                        img(src="img/news3-1_img.jpg", alt="", class="reading__img")
                    span.item__category Политика
                    .item__title Запрет на доллар: почему Центробанк не сможет сдержать инфляцию и безработицу
                    .news__subwrapper.item__wrapper 
                        .news__date.date-1(data-format='dd monthMin.')
                        .news__comment 635
                        .news__views 813тыс.
            a.reading__link(href="1003.html" target='_blank')
                .reading__item.item 
                    picture 
                        //source(type="image/webp", srcset="img/reading-3.webp")
                        img(src="img/news4-1_img.jpg", alt="", class="reading__img")
                    span.item__category Политика
                    .item__title Запрет доллара в РФ не вызовет масштабные увольнение в регионах
                    .news__subwrapper.item__wrapper 
                        .news__date.date-1(data-format='dd monthMin.')
                        .news__comment 764
                        .news__views 984тыс.