body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: hidden;
}

button {
  display: block;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include rm(480) {
    width: 480px;
  }

  @include rm(640) {
    width: 640px;
  }

  @include rm(768) {
    width: 768px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include rm(1024) {
    width: 1024px;
  }

  @include rm(1220) {
    width: 1220px;
  }
}

.title {
  font-size: 26px;
  color: $dark-grey;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;

  @include rm(480) {
    font-size: 30px;
    line-height: 1.2;
  }

  @include rm(640) {
    font-size: 34px;
    line-height: 1;
  }

  @include rm(768) {
    font-size: 38px;
  }

  @include rm(1024) {
    font-size: 40px;
  }

  @include rm(1220) {
    font-size: 42px;
    line-height: 1.05;
  }
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-red {
  color: #ff120d;
}


.text-nowrap {
  white-space: nowrap;
}

.blue {
  color: $blue;
}

br {
  line-height: 1;
  font-size: 0;
}

.btn {
  position: relative;
  width: 100%;
  max-width: 225px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #ff4800;
  border: 0;
  border-radius: 50px;
  cursor: pointer;


  transition: all .3s ease;
  padding: 10px 20px;
  margin: 0 auto;

  &:hover {
    background: #c53b05;


  }

  &--small {
    border-bottom: 2px solid $red;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
  }

  &--big {
    border-bottom: 5px solid $dark-orange;
    font-size: 27px;
    border-radius: 50px;
    font-weight: 700;
    line-height: 23px;
    padding: 11px;

    span {
      font-size: 20px;
      display: block;
      font-weight: 500;
      line-height: 19px;
    }
  }
}

.bg {
  @include rm(1024) {
    background-color: transparent;
    background-image: url("../img/block-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.webp .bg {
  @include rm(1024) {
    background-image: url("../img/block-bg.webp");
  }
}
.no-webp .bg {
  @include rm(1024) {
    background-image: url("../img/block-bg.jpg");
  }
}

.line {
  position: relative;
}

.prod-color {
  color: #ffb400;
}

.bg {
  background-color: #fbf7f3;
}
/* unemployment */
.unemployment {
  padding: 90px 0 20px;
}
.unemployment__main {
  width: 100%;
  margin-bottom: 20px;
}
.unemployment__img {
  margin-bottom: 20px;
}
.unemployment__title {
  margin-bottom: 10px;
}
.unemployment__post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  line-height: 1.3;

  margin-bottom: 10px;
}
.unemployment__post-item {
  margin: 0 10px;
}
.unemployment__text {
  margin-bottom: 20px;
}
.unemployment__text:last-child {
  margin-bottom: 0;
}
.unemployment__text--italic {
  font-style: italic;
}
.sidebar__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #dadada;
}
.sidebar__tab {
  width: 150px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.active__tab {
  color: #FF120D;
  border-bottom: 3px solid #FF120D;
}

.sidebar__link {
  color: #000;
}
.sidebar__link:hover {
  color: #FF120D;
}
.news {
  display: flex;
  margin-bottom: 15px;
}

.news__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

.news__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news__subwrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.news__img {
  min-width: 80px;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.news__img img {
  border-radius: 6px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.news__date, .news__comment, .news__views {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 11px;
  margin-right: 10px;
  color: #b4b4b4;
}

.news__date::before, .news__comment::before, .news__views::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 5px;
}

.news__comment::before {
  background-image: url(../img/comments.png);
}

.news__views::before {
  background-image: url(../img/views.png);
}

.news__views {
  margin-right: 0;
}

.background-politics {
  background: #ffc824!important;
  color: #000000!important;
}

.background-specProjects {
  background: #d72e29;
  color: #fff;
}

.background-economy {
  background: #d038ff!important;
  color: #000000!important;
}