.block {
  padding-top: 25px;
  padding-bottom: 25px;

  @include rm(480) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include rm(768) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1219px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include rm(1220) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
